Repository stasiu20/ssorder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_pipeline, diff-composer-packages, hadolint, docker:node

Path conditions:
  api_pipeline: any of: api/*
  diff-composer-packages: any of: composer.lock
  hadolint: any of: frontend/Dockerfile, node-cron/Dockerfile, docs/Dockerfile
  docker:node: any of: node-cron/*, .gitlab-ci.yml

#56 Update to symfony 6.1 in /api
  api/composer.json
  api/composer.lock
Due: api_pipeline

#56 Change vendor of php-ga-measurement-protocol
  composer.json
  composer.lock
Due: diff-composer-packages

#56 Change vendor of Prometheus library
  common/config/main.php
  common/config/test.php
  common/events/listeners/NewOrderPrometheus.php
  common/services/SSOrderMetrics.php
  common/tests/unit/events/listeners/NewOrderPrometheusTest.php
  composer.json
  composer.lock
  frontend/config/main.php
  frontend/controllers/MetricsController.php
Due: diff-composer-packages

#1171 Fix missing dependency in node-cron package
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#56 Update packages in /node-cron
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#56 Update packages in /api
  api/composer.json
  api/composer.lock
Due: api_pipeline

#252 Docker jobs: migrate from only/expect to rules
  .gitlab-ci.yml
Due: docker:node

#56 Update packages in /
  composer.lock
Due: diff-composer-packages

#1182 Possibility to manually build docker image
  .gitlab-ci.yml
Due: docker:node

#56 Update packages
  api/composer.lock
  composer.lock
  frontend/e2e/package-lock.json
  node-cron/package-lock.json
Due: api_pipeline, diff-composer-packages, docker:node

#56 Update cypress to 10.4
  Makefile
  frontend/e2e/cypress.config.ts
  frontend/e2e/cypress.json
  frontend/e2e/cypress/plugins/index.js
  frontend/e2e/cypress/plugins/index.ts
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
Due: none

#56 Update packages in /api
  api/composer.lock
Due: api_pipeline

#56 Improve PHPDoc for phpstan
  api/src/Restaurant/Entity/Restaurant.php
Due: none

#56 Update packages
  composer.lock
Due: diff-composer-packages

#56 Update node packages
  frontend/e2e/package-lock.json
  node-cron/package-lock.json
Due: docker:node

#56 Update default key length
  .env.ci
  README.md
  api/.env.test
Due: api_pipeline

#56 Remove some deprecations
  api/src/Command/SendPushMsgCommand.php
  api/tests/Story/RestaurantDetailsStory.php
  api/tests/Story/RestaurantPhotosStory.php
  api/tests/Story/UserWithWebPushSubscriptionStory.php
Due: none

#56 Update monolog and meilisearch
  api/composer.json
  api/composer.lock
Due: api_pipeline

#56 Update e2e packages
  frontend/e2e/package-lock.json
Due: none

#56 Update packages in /node-cron
  node-cron/package-lock.json
Due: docker:node

#141 Adust phpstan configuration to fix pipeline
  api/phpstan.neon
  api/src/Entity/UserSubscription.php
  api/src/Restaurant/Entity/MenuPosition.php
  api/src/Restaurant/Entity/Restaurant.php
  api/src/Service/UserSubscriptionManager.php
  common/services/FileService.php
  phpstan.neon
Due: api_pipeline

#141 Tagging via web should trigger tag_release job
  .gitlab-ci.yml
Due: docker:node

#139 Check dependencies once a week
  .github/dependabot.yml
Due: none

#141 Adjust phpstan configuration to fix pipeline
  api/phpstan-baseline.neon
  api/phpstan.neon
  phpstan-baseline-common.neon
  phpstan-baseline-frontend.neon
  phpstan.neon
Due: api_pipeline

#141 Fix phpstan errors
  api/phpstan.neon
  api/src/Restaurant/Entity/MenuPosition.php
  api/src/Restaurant/Entity/Restaurant.php
Due: api_pipeline
