Repository stasiu20/ssorder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_pipeline, diff-composer-packages, hadolint, docker:node

api_pipeline:
  stage: qa
  trigger:
    include:
    - local: api/.gitlab-ci.yml
    strategy: depend

diff-composer-packages:
  stage: prepare
  image: morawskim/pipeline-scripts
  script:
  - /pipeline/scripts/prev-file-content.rb $CI_PROJECT_DIR/.git composer.lock > /tmp/composer.lock.old || (test $? -eq 101 && exit 0)
  - /pipeline/scripts/diff-composer.rb /tmp/composer.lock.old > /tmp/composer.old.diff
  ...

hadolint:
  stage: qa
  image: hadolint/hadolint:v1.16.3-debian
  script:
  - find -iname 'Dockerfile*' | xargs --max-lines=1 hadolint
  dependencies: []

docker:node:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  dependencies:
  - composer
  - assets
  - version
  before_script:
  - source $CI_PROJECT_DIR/VERSION
  ...

#106 Update docs base image
  docs/Dockerfile
Due: hadolint

#56 Update /node-cron dependencies
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#56 Update /api dependencies
  api/composer.lock
Due: api_pipeline

#56 - Update frontend dependencies
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
Due: none

#56 - Update ssorder dependencies
  composer.lock
Due: diff-composer-packages

#56 Update swagger-ui and swagger-php
  composer.json
  composer.lock
  frontend/config/openapi-constant.php
  frontend/modules/apiV1/openapi.php
Due: diff-composer-packages

#56 Update cypress to 9.5
  Makefile
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
Due: none

#125 Remove links from docker-compose
  docker-compose.yml
Due: none

#913 Migrate from cypress-file-upload to build in command selectFile
  frontend/e2e/cypress/support/commands.js
  frontend/e2e/cypress/support/pageObject/RestaurantPage.ts
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
  frontend/e2e/tsconfig.json
Due: none

#56 Adjust PHPStan configuration and apply some changes in code
  Makefile
  api/phpstan-baseline.neon
  api/phpstan.neon
  api/src/Restaurant/Entity/Restaurant.php
  frontend/controllers/MenuController.php
  frontend/controllers/RatingController.php
  frontend/controllers/RestaurantsController.php
  frontend/controllers/RocketChatController.php
  frontend/modules/apiV1/controllers/DictController.php
  frontend/modules/apiV1/controllers/RestaurantsController.php
  frontend/modules/apiV1/controllers/SessionController.php
  phpstan-baseline-common.neon
  phpstan-baseline-frontend.neon
  phpstan.neon
Due: api_pipeline

#252 Disable temporary some jobs
  .gitlab-ci.yml
Due: docker:node

#56 Adjust PHPStan configuration
  api/phpstan-baseline.neon
  api/phpstan.neon
  phpstan-baseline-common.neon
  phpstan-baseline-frontend.neon
  phpstan.neon
Due: api_pipeline

#56 - Update e2e dependencies
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
Due: none

#56 Fixing generating OpenAPI documentation
  frontend/modules/apiV1/OpenApiSpec.php
Due: none

#56 Fix PHPStan issues
  api/phpstan.neon
  api/src/Api/Transformer/MenuTransformer.php
  api/src/Api/Transformer/RestaurantCategoryTransformer.php
  api/src/Api/Transformer/RestaurantTransformer.php
Due: api_pipeline

#56 Fix styling issues
  api/phpstan.neon
  api/src/Api/Transformer/RestaurantTransformer.php
Due: api_pipeline

#56 Remove Prometheus metrics
  common/config/main.php
  common/events/listeners/NewOrderPrometheus.php
  common/services/SSOrderMetrics.php
  common/tests/unit/events/listeners/NewOrderPrometheusTest.php
  frontend/config/main.php
  frontend/controllers/MetricsController.php
Due: none

#56 Update PHP to 8.1 and packages
  .gitlab-ci.yml
  Makefile
  api/.gitlab-ci.yml
  api/Dockerfile
  api/composer.json
  api/composer.lock
  api/symfony.lock
  common/config/main.php
  common/services/FileService.php
  common/validators/FilePHP81Validator.php
  composer.json
  composer.lock
  docker-compose.yml
  frontend/Dockerfile
  frontend/config/main-local.php
  frontend/e2e/package-lock.json
  frontend/helpers/OrderCost.php
  frontend/models/Restaurants.php
  frontend/tests/unit/modules/apiV1/helpers/AccessTokenHelperTest.php
  node-cron/package-lock.json
Due: api_pipeline, diff-composer-packages, hadolint, docker:node

#56 Fix reported static analysis errors after upgrade to PHP 8.1
  .gitlab-ci.yml
  common/validators/FilePHP81Validator.php
  composer.json
  composer.lock
  docker-compose.yml
  phpstan-baseline-common.neon
  phpstan.neon
Due: diff-composer-packages, docker:node

#125 hadolint - ignore issue with copy php-extension-installer
  Makefile
  api/Dockerfile
  frontend/Dockerfile
Due: api_pipeline, hadolint

#539 Restrict symplify/phpstan-rules version to 10.1
  Makefile
  api/.gitlab-ci.yml
Due: api_pipeline

#56 Update packages in api
  api/composer.lock
Due: api_pipeline

#56 Update packages
  composer.lock
Due: diff-composer-packages

#56 Update packages in node-cron
  node-cron/package-lock.json
Due: docker:node

#56 Update packages in e2e
  frontend/e2e/package-lock.json
Due: none

#56 Revert some changes, which has been added to support PHP8.1
  frontend/config/main-local.php
Due: none

#1064 Basic setup for Meilisearch
  api/.env
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/meili_search.yaml
  api/config/packages/nyholm_psr7.yaml
  api/config/packages/test/meili_search.yaml
  api/config/services.yaml
  api/phpstan.neon
  api/src/Restaurant/Entity/MenuPosition.php
  api/src/Restaurant/Entity/Restaurant.php
  api/symfony.lock
  api/tests/ObjectMother/MenuPositionObjectMother.php
  api/tests/ObjectMother/RestaurantObjectMother.php
  api/tests/Restaurant/Entity/MenuPositionTest.php
  api/tests/Restaurant/Entity/RestaurantTest.php
  docker-compose.yml
Due: api_pipeline

#1064 Meilisearch remove default prefix value for index, index additional attributes
  api/config/packages/meili_search.yaml
  api/src/Restaurant/Entity/MenuPosition.php
  api/src/Restaurant/Entity/Restaurant.php
  api/tests/Restaurant/Entity/MenuPositionTest.php
  api/tests/Restaurant/Entity/RestaurantTest.php
Due: none

#1064 Integrate with Meilisearch on frontend (stage 1)
  frontend/package.json
  frontend/views/restaurants/index.php
  frontend/webpack/js/features/search/autocomplete.css
  frontend/webpack/js/features/search/autocomplete.tsx
  frontend/webpack/js/features/search/search.tsx
  frontend/webpack/js/restaurant.js
  frontend/yarn.lock
Due: none

#1064 Cypress test to check integration with Meilisearch
  frontend/e2e/cypress/integration/ssorder_spec.ts
  frontend/webpack/js/features/search/search.tsx
Due: none

#1073 Github action - stale workflow
  .github/workflows/stale.yml
Due: none

#1064 Mailisearch frontend configuration
  docker-compose.yml
  frontend/webpack/config-dev.js
  frontend/webpack/config-prod.js
  frontend/webpack/js/declarations/config.d.ts
  frontend/webpack/js/features/search/search.tsx
Due: none

#1064 Fix prettier issues
  Makefile
  frontend/webpack/config-prod.js
  frontend/webpack/js/features/search/autocomplete.tsx
  frontend/webpack/js/features/search/search.tsx
  frontend/webpack/js/restaurant.js
Due: none

#56 Update packages in /api
  api/composer.lock
Due: api_pipeline

#56 Update packages
  api/composer.lock
  composer.lock
  frontend/e2e/package-lock.json
  node-cron/package-lock.json
Due: api_pipeline, diff-composer-packages, docker:node

#56 Update to symfony 6 in /api
  api/.env
  api/.gitlab-ci.yml
  api/composer.json
  api/composer.lock
  api/config/packages/doctrine.yaml
  api/config/packages/security.yaml
  api/config/packages/test/doctrine.yaml
  api/config/packages/test/framework.yaml
  api/config/packages/test/twig.yaml
  api/config/packages/test/web_profiler.yaml
  api/config/packages/web_profiler.yaml
  api/config/routes/dev/framework.yaml
  api/config/routes/dev/web_profiler.yaml
  api/config/routes/web_profiler.yaml
  api/phpunit.xml.dist
  api/src/Entity/User.php
  api/src/Restaurant/Entity/MenuPosition.php
  api/src/Restaurant/Entity/Restaurant.php
  api/symfony.lock
  api/tests/Functional/ApiEndpointWebpushTest.php
Due: api_pipeline

#56 Fix phpstan issue
  api/src/Entity/User.php
Due: none

Path conditions:
  api_pipeline: any of: api/*
  diff-composer-packages: any of: composer.lock
  hadolint: any of: frontend/Dockerfile, node-cron/Dockerfile, docs/Dockerfile
  docker:node: any of: node-cron/*, .gitlab-ci.yml
