Repository stasiu20/ssorder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: diff-composer-packages, hadolint, docker:node

Path conditions:
  diff-composer-packages: any of: composer.lock
  hadolint: any of: frontend/Dockerfile, node-cron/Dockerfile, docs/Dockerfile
  docker:node: any of: node-cron/*, .gitlab-ci.yml

#56 composer update packages
  composer.lock
Due: diff-composer-packages

#141 Build docker images
  api/.gitlab-ci.yml
  api/Dockerfile
  api/Dockerfile-web
  docker-compose.yml
  docker-swarm.yml
Due: none

#141 Set user_id_claim
  api/config/packages/lexik_jwt_authentication.yaml
Due: none

#141 Change path to Dockerfile
  api/.gitlab-ci.yml
Due: none

#141 Deploy api
  .gitlab-ci.yml
  docker-swarm.yml
Due: docker:node

#141 Install monolog and profiler bundles
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/dev/monolog.yaml
  api/config/packages/dev/web_profiler.yaml
  api/config/packages/prod/deprecations.yaml
  api/config/packages/prod/monolog.yaml
  api/config/packages/test/monolog.yaml
  api/config/packages/test/twig.yaml
  api/config/packages/test/web_profiler.yaml
  api/config/packages/twig.yaml
  api/config/routes/dev/web_profiler.yaml
  api/symfony.lock
  api/templates/base.html.twig
Due: none

#141 Generate request_id
  provision/nginx/vhost-api.conf
Due: none

#141 Rollout api
  api/Dockerfile
  api/config/packages/dev/monolog.yaml
  api/config/packages/prod/monolog.yaml
  api/provision/php-fpm.conf
  api/src/Command/SendPushMsgCommand.php
  provision/nginx/vhost-api.conf
Due: none

#170 webpush demo
  .env.dist
  api/.env.test
  api/Dockerfile
  api/config/packages/bentools_webpush.yaml
  common/config/main.php
  common/services/SymfonyApiClient.php
  frontend/config/main.php
  frontend/modules/apiV1/controllers/WebpushController.php
  frontend/modules/apiV1/models/request/CreateWebpushRequest.php
  frontend/views/layouts/main.php
  frontend/webpack.config.js
  frontend/webpack/js/declarations/window.d.ts
  frontend/webpack/js/errorHandler.js
  frontend/webpack/js/features/contract.ts
  frontend/webpack/js/features/core/services/WebPushService.ts
  frontend/webpack/js/features/profile/components/webPushStateManage.tsx
  frontend/webpack/js/features/profile/index.tsx
Due: none

#138 Add SW file to artifact
  .gitlab-ci.yml
Due: docker:node

#141 Use tmpfs to store symfony cache dir
  docker-compose.yml
  docker-swarm.yml
Due: none

#141 Update env file
  .env.dist
  frontend/config/params.php
Due: none

#56 Makefile - install all dependencies from lock files of package managers
  Makefile
Due: none

#214 Fix pipeline build for the API application
  api/Dockerfile
Due: none

#141 Install chrisguitarguy/request-id-bundle
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/request_id.yaml
  api/symfony.lock
Due: none

#56 Update PHPUnit to 9.4 for support XDEBUG_MODE environment variable
  api/phpunit.xml.dist
Due: none

#141 Generate coverage report for Symfony API
  .gitlab-ci.yml
  api/.env
  api/composer.json
  docs/.gitignore
  docs/index.html
Due: docker:node

#240 Update to Xdebug3
  api/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Due: hadolint

#56 Update Symfony, bundles, doctrine and dev packages
  api/.gitlab-ci.yml
  api/composer.json
  api/composer.lock
  api/symfony.lock
Due: none

#243 Create an environment for testing
  .env.dist
  .gitlab-ci.yml
  docker-swarm-develop.yml
  frontend/config/main.php
  integration-tests/environments/develop.postman_environment.json
  integration-tests/tests/order/data.csv
  integration-tests/tests/order/ssorder.postman_collection.json
Due: docker:node

#244 Migrate deployment task to a separate repository
  .gitlab-ci.yml
  docker-compose.yml
  docker-swarm-develop.yml
  docker-swarm.yml
  frontend/config/main.php
Due: docker:node

#141 Fetch docs artefacts after introducing child pipeline
  .gitlab-ci.yml
  api/.gitlab-ci.yml
  docs/.gitlab-ci.yml
  docs/Dockerfile
  scripts/fetch-latest-docs-artifacts.sh
Due: hadolint, docker:node

#141 Fix pipeline (fetch artifacts)
  .gitlab-ci.yml
  scripts/fetch-latest-docs-artifacts.sh
Due: docker:node

#141 Pass ID of parent pipeline
  .gitlab-ci.yml
  docs/.gitlab-ci.yml
  scripts/fetch-latest-docs-artifacts.sh
Due: docker:node

#141 The passed arguments have more important priority than env variables,
  scripts/fetch-latest-docs-artifacts.sh
Due: none

#244 Move a job to deploy docs to a separate repository
  .gitlab-ci.yml
Due: docker:node

#252 Migrate from protractor to cypress
  docker-compose.yml
  frontend/.eslintrc.json
  frontend/e2e/.gitignore
  frontend/e2e/assets/restaurantLogo.jpg
  frontend/e2e/cypress.json
  frontend/e2e/cypress/config/ssorder-develop.json
  frontend/e2e/cypress/fixtures/cy.png
  frontend/e2e/cypress/integration/ssorder_spec.ts
  frontend/e2e/cypress/plugins/index.js
  frontend/e2e/cypress/support/commands.js
  frontend/e2e/cypress/support/index.js
  frontend/e2e/cypress/support/pageObject/HomePage.ts
  frontend/e2e/cypress/support/pageObject/LoginPage.ts
  frontend/e2e/cypress/support/pageObject/Navigation.ts
  frontend/e2e/cypress/support/pageObject/OrderPage.ts
  frontend/e2e/cypress/support/pageObject/RestaurantPage.ts
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
  frontend/e2e/page/AddRestaurantPageObject.po.ts
  frontend/e2e/page/HomePageObject.po.ts
  frontend/e2e/page/LoginPageObject.po.ts
  frontend/e2e/page/OrderListPageObject.po.ts
  frontend/e2e/page/OrderRemarkPageObject.po.ts
  frontend/e2e/page/RestaurantListPageObject.po.ts
  frontend/e2e/page/RestaurantPageObject.po.ts
  frontend/e2e/spec/login/FailedLogin.e2e-spec.ts
  frontend/e2e/spec/order/NewOrder.e2e-spec.ts
  frontend/e2e/spec/restaurants/NewRestaurant.e2e-spec.ts
  frontend/e2e/tsconfig.json
  frontend/package.json
  frontend/protractor.conf.ts
  frontend/yarn.lock
Due: none

#252 Run e2e tests
  .gitlab-ci.yml
  Makefile
  docs/.gitignore
Due: docker:node

#252 Fixes build if e2e tests don't contain screenshots
  .gitlab-ci.yml
Due: docker:node

#252 cypress e2e final step
  Makefile
  README.md
  docs/index.html
  frontend/e2e/cypress.json
  frontend/e2e/cypress/config/docker.json
  frontend/e2e/cypress/integration/ssorder_spec.ts
  frontend/e2e/cypress/plugins/index.js
  frontend/e2e/cypress/support/pageObject/RestaurantPage.ts
Due: none

#258 Migrate from sensiolabs/security-checker to local-php-security-checker
  .gitlab-ci.yml
  api/.gitlab-ci.yml
  api/composer.json
  api/composer.lock
  api/config/packages/security_checker.yaml
  api/symfony.lock
  composer.json
  composer.lock
Due: diff-composer-packages, docker:node

#56 composer: Updated packages in /api
  api/composer.lock
Due: none

#56 composer: Updated packages in /api
  api/composer.lock
  api/symfony.lock
Due: none

#56 npm: Update packages in /node-cron
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#56 Update packages in /frontend
  .gitlab-ci.yml
  composer.json
  composer.lock
Due: diff-composer-packages, docker:node

#283 Bump lcobucci/jwt from 3.3.3 to 3.4.4
  common/models/AccessToken.php
  common/models/User.php
  composer.json
  composer.lock
  frontend/modules/apiV1/helpers/AccessTokenHelper.php
  frontend/tests/unit/modules/apiV1/helpers/AccessTokenHelperTest.php
Due: diff-composer-packages

#56 composer update packages
  common/tests/_bootstrap.php
  composer.json
  composer.lock
  frontend/tests/_bootstrap.php
  frontend/web/index.php
  yii
Due: diff-composer-packages

#56 composer update packages
  api/composer.lock
  common/component/UserRestApiMediator.php
  common/models/AccessToken.php
  composer.json
  composer.lock
  frontend/modules/apiV1/controllers/SessionController.php
  phpstan.neon
Due: diff-composer-packages
