Repository stasiu20/ssorder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_pipeline, diff-composer-packages, hadolint, docker:node

api_pipeline:
  stage: qa
  trigger:
    include:
    - local: api/.gitlab-ci.yml
    strategy: depend

diff-composer-packages:
  stage: prepare
  image: morawskim/pipeline-scripts
  script:
  - /pipeline/scripts/prev-file-content.rb $CI_PROJECT_DIR/.git composer.lock > /tmp/composer.lock.old || (test $? -eq 101 && exit 0)
  - /pipeline/scripts/diff-composer.rb /tmp/composer.lock.old > /tmp/composer.old.diff
  ...

hadolint:
  stage: qa
  image: hadolint/hadolint:v1.16.3-debian
  script:
  - find -iname 'Dockerfile*' | xargs --max-lines=1 hadolint
  dependencies: []

docker:node:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  dependencies:
  - composer
  - assets
  - version
  before_script:
  - source $CI_PROJECT_DIR/VERSION
  ...

#580 Integration with Sentry (noderon subproject)
  node-cron/config.json
  node-cron/package-lock.json
  node-cron/package.json
  node-cron/src/sendNotifyMail.js
  node-cron/src/sentry.js
Due: docker:node

#141 Fix PHPStan job
  api/phpstan.neon
Due: api_pipeline

#56 Update npm packages in node-cron
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#56 Update composer packages in api
  Makefile
  api/composer.lock
Due: api_pipeline

#56 Update composer packages in frontend
  composer.json
  composer.lock
Due: diff-composer-packages

#56 Update npm packages in frontend/e2e
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
Due: none

#56 Temporary install symfony/asset to fix issue after update NelmioApiDocBundle to version 4.6
  api/composer.json
  api/composer.lock
  api/symfony.lock
Due: api_pipeline

#56 - Update dependencies
  Makefile
  api/composer.lock
  composer.lock
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
  node-cron/package-lock.json
  node-cron/package.json
Due: api_pipeline, diff-composer-packages, docker:node

#56 Fixes code style issue after update squizlabs/php_codesniffer
  frontend/views/menu/_formMenu.php
  frontend/views/order/again.php
  frontend/views/order/uwagi.php
  frontend/views/restaurants/restaurant.php
Due: none

#699 Add NullRocketChat component
  common/component/NullRocketChat.php
  common/component/RocketChatOrderMediator.php
  common/config/main.php
Due: none

#725 - Migrate ssorder
  .env.ci
  .env.dist
  .gitlab-ci.yml
  frontend/config/main.php
Due: docker:node

#739 Update to PHPStan 1
  Makefile
  api/.gitlab-ci.yml
  api/config/services.yaml
  api/phpstan.neon
  api/src/Restaurant/Entity/Restaurant.php
  api/src/phpstan/OnlyReadProperties.php
  api/src/phpstan/object_manager.php
  phpstan.neon
Due: api_pipeline

#56 Update composer packages in api
  api/composer.lock
  api/symfony.lock
Due: api_pipeline

#56 Update composer packages in frontend
  composer.lock
Due: diff-composer-packages

#56 Update npm packages in frontend/e2e
  Makefile
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
Due: none

#725 - migrate dev env
  docs/docker-swarm.yml
  frontend/e2e/cypress/config/ssorder-develop.json
  integration-tests/environments/develop.postman_environment.json
Due: none

#252 - Decrease resolution of the video after migration to different less performant server
  frontend/e2e/cypress/config/ssorder-develop.json
  frontend/e2e/cypress/plugins/index.js
Due: none

#725 - New trustedHosts range
  frontend/config/main.php
Due: none

#56 Update packages
  api/composer.lock
  composer.lock
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
  node-cron/package-lock.json
  node-cron/package.json
Due: api_pipeline, diff-composer-packages, docker:node

#56 Update bentools/webpush-bundle
  api/composer.json
  api/composer.lock
  api/symfony.lock
Due: api_pipeline

#762 - API endpoint to fetch restaurant details
  api/.env.test
  api/composer.json
  api/composer.lock
  api/config/packages/framework.yaml
  api/src/Api/Controller/RestaurantController.php
  api/src/Contract/Restaurant/Exception/RestaurantNotFoundExceptionInterface.php
  api/src/Contract/Restaurant/RestaurantDetailsInterface.php
  api/src/Contract/Restaurant/RestaurantDetailsProviderInterface.php
  api/src/Contract/Restaurant/RestaurantMenuItemInterface.php
  api/src/Restaurant/Dto/RestaurantDetailsDto.php
  api/src/Restaurant/Dto/RestaurantMenuItemDto.php
  api/src/Restaurant/Exception/RestaurantNotFoundException.php
  api/src/Restaurant/Provider/DoctrineRestaurantDetailsProvider.php
  api/symfony.lock
  api/tests/Factory/MenuPositionFactory.php
  api/tests/Factory/RestaurantFactory.php
  api/tests/Functional/Restaurant/DoctrineRestaurantDetailsProviderTest.php
  api/tests/Story/RestaurantDetailsStory.php
  common/services/SymfonyApiClient.php
  frontend/config/main.php
  frontend/e2e/cypress/integration/api/restaurant_spec.ts
  frontend/modules/apiV1/controllers/RestaurantsController.php
Due: api_pipeline

#762 - API documentation for restaurant details endpoint
  composer.json
  frontend/modules/apiV1/controllers/RestaurantsController.php
  frontend/modules/apiV1/models/MenuItem.php
  frontend/modules/apiV1/models/Money.php
  frontend/modules/apiV1/models/RestaurantDetails.php
Due: none

#762 - Restaurant photos in API
  api/src/Contract/Restaurant/RestaurantDetailsInterface.php
  api/src/Contract/Restaurant/RestaurantPhotoInterface.php
  api/src/File/FileService.php
  api/src/Restaurant/Dto/RestaurantDetailsDto.php
  api/src/Restaurant/Dto/RestaurantPhotoDto.php
  api/src/Restaurant/Entity/Photo.php
  api/src/Restaurant/Entity/Restaurant.php
  api/src/Restaurant/Provider/DoctrineRestaurantDetailsProvider.php
  api/tests/Factory/PhotoFactory.php
  api/tests/Functional/Restaurant/RestaurantTest.php
  api/tests/Story/RestaurantPhotosStory.php
  common/tests/unit/fixtures/RestaurantFixture.php
Due: none

#762 - API doc for photos, improve tests
  frontend/e2e/cypress/integration/api/restaurant_spec.ts
  frontend/modules/apiV1/models/RestaurantDetails.php
  frontend/modules/apiV1/models/RestaurantPhoto.php
Due: none

#539 Restrict phpstan deps to symfony 5.4
  Makefile
  api/.gitlab-ci.yml
Due: api_pipeline

#762 - Add extra photos for restaurants
  common/tests/unit/fixtures/RestaurantFixture.php
  composer.json
  composer.lock
Due: diff-composer-packages

#762 - In restaurant's detail action fetch data from API
  api/src/Restaurant/Provider/DoctrineRestaurantDetailsProvider.php
  frontend/controllers/RestaurantsController.php
  frontend/modules/apiV1/factory/RestaurantDetailsFactory.php
  frontend/modules/apiV1/models/MenuItem.php
  frontend/modules/apiV1/models/RestaurantDetails.php
  frontend/views/restaurants/restaurant.php
Due: none

#125 Normalize composer.json
  composer.json
Due: none

#762 - Ignore phpstan error
  api/src/Restaurant/Provider/DoctrineRestaurantDetailsProvider.php
Due: none

#539 Update symplify/phpstan-rules
  Makefile
  api/.gitlab-ci.yml
Due: api_pipeline

#680 Update nelmio/api-doc-bundle and remove symfony/asset
  api/composer.json
  api/composer.lock
  api/symfony.lock
Due: api_pipeline

#125 Setup for api and pwa
  .env.dist
  Makefile
  api/.env
  docker-compose.yml
  frontend/e2e/.gitignore
Due: api_pipeline

#56 Update npm packages in node-cron
  node-cron/package-lock.json
Due: docker:node

#56 Update composer packages in api
  api/composer.lock
  api/src/Contract/Restaurant/Exception/RestaurantNotFoundExceptionInterface.php
  api/symfony.lock
Due: api_pipeline

#56 Update composer packages in frontend
  Makefile
  composer.lock
Due: diff-composer-packages

#56 - Update symfony to 5.4 and swagger-php
  api/composer.json
  api/composer.lock
Due: api_pipeline

#56 - Update phpstan packages and phpunit-bridge in /api
  api/composer.json
  api/composer.lock
Due: api_pipeline

#56 - Update frontend npm packages
  frontend/yarn.lock
Due: none

#125 Fix phpstan issue
  common/services/FixtureStore.php
Due: none

Path conditions:
  api_pipeline: any of: api/*
  diff-composer-packages: any of: composer.lock
  hadolint: any of: frontend/Dockerfile, node-cron/Dockerfile, docs/Dockerfile
  docker:node: any of: node-cron/*, .gitlab-ci.yml
