Repository stasiu20/ssorder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: diff-composer-packages, hadolint, docker:node

diff-composer-packages:
  stage: prepare
  image: morawskim/pipeline-scripts
  script:
  - /pipeline/scripts/prev-file-content.rb $CI_PROJECT_DIR/.git composer.lock > /tmp/composer.lock.old || (test $? -eq 101 && exit 0)
  - /pipeline/scripts/diff-composer.rb /tmp/composer.lock.old > /tmp/composer.old.diff
  ...

hadolint:
  stage: qa
  image: hadolint/hadolint:v1.16.3-debian
  script:
  - find -iname 'Dockerfile*' | xargs --max-lines=1 hadolint
  dependencies: []

docker:node:
  stage: docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  dependencies:
  - composer
  - assets
  - version
  before_script:
  - source $CI_PROJECT_DIR/VERSION
  ...

#125 Migracja do kontrolera REST i ogranicznie metod HTTP
  frontend/controllers/ProfileAjaxController.php
Due: none

#127 - formularz edycji restauracji zbudowany w oparciu o formik & react-async
  frontend/controllers/RestaurantAjaxController.php
  frontend/views/restaurants/_form.php
  frontend/views/restaurants/create.php
  frontend/webpack/js/declarations.d.ts
  frontend/webpack/js/features/restaurant/components/restaurantForm.tsx
  frontend/webpack/js/features/restaurant/restaurant.tsx
Due: none

#127 - formularz restauracji walidator numeru telefonu
  frontend/package.json
  frontend/webpack/js/declarations/webcomponents.d.ts
  frontend/webpack/js/declarations/yup.d.ts
  frontend/webpack/js/features/restaurant/components/restaurantForm.tsx
  frontend/yarn.lock
Due: none

#127 - react-redux
  frontend/.eslintrc.json
  frontend/package.json
  frontend/webpack/js/features/core/components/SSOrderApp.tsx
  frontend/webpack/js/features/core/redux/dictionary/actions.tsx
  frontend/webpack/js/features/core/redux/dictionary/index.ts
  frontend/webpack/js/features/core/redux/dictionary/reducer.ts
  frontend/webpack/js/features/core/redux/dictionary/types.ts
  frontend/webpack/js/features/core/redux/index.ts
  frontend/webpack/js/features/core/redux/store.ts
  frontend/webpack/js/features/core/redux/types.ts
  frontend/webpack/js/features/restaurant/components/restaurantForm.tsx
  frontend/webpack/js/features/restaurant/restaurant.tsx
  frontend/yarn.lock
Due: none

#127 - react-intl
  frontend/package.json
  frontend/webpack/js/features/core/components/SSOrderApp.tsx
  frontend/webpack/js/features/core/context/app.tsx
  frontend/webpack/js/features/core/translations/pl.ts
  frontend/webpack/js/features/profile/components/profileForm.tsx
  frontend/webpack/js/features/profile/translation/pl.ts
  frontend/webpack/js/features/restaurant/components/restaurantForm.tsx
  frontend/webpack/js/features/restaurant/translation/pl.ts
  frontend/yarn.lock
Due: none

#127 - Refactoring redux
  frontend/webpack/js/features/core/redux/dictionary/actions.tsx
  frontend/webpack/js/features/core/redux/dictionary/reducer.ts
  frontend/webpack/js/features/core/redux/dictionary/types.ts
  frontend/webpack/js/features/restaurant/components/restaurantForm.tsx
Due: none

#125 TS: wlaczenie wiekszosci regul dla trybu scislego/rygorystycznego
  frontend/tsconfig.json
  frontend/webpack/js/features/core/components/errorBoundary.tsx
  frontend/webpack/js/features/core/components/galleryLightbox.tsx
  frontend/webpack/js/features/core/context/app.tsx
  frontend/webpack/js/features/core/translations/pl.ts
  frontend/webpack/js/features/core/utils/rxjsHelper.ts
  frontend/webpack/js/features/form/components/cleavePrice.tsx
  frontend/webpack/js/features/form/components/formFieldText.tsx
  frontend/webpack/js/features/profile/components/profileForm.tsx
  frontend/webpack/js/features/restaurant/components/restaurantForm.tsx
Due: none

#125 Konfiguracja babel i core-js
  frontend/package.json
  frontend/webpack.config.js
  frontend/webpack/css/abstracts/_variables.scss
  frontend/yarn.lock
Due: none

#125 Instalacja pakietu hyperia/yii2-secure-headers
  composer.json
  composer.lock
  frontend/config/main.php
Due: diff-composer-packages

#127 - CSS modules
  frontend/package.json
  frontend/tsconfig.json
  frontend/webpack/js/declarations/css-modules.d.ts
  frontend/yarn.lock
Due: none

#127 - tlumaczenie komunikatow walidacji
  frontend/webpack/js/features/core/context/app.tsx
  frontend/webpack/js/features/core/translations/pl.ts
  frontend/webpack/js/features/profile/components/profileForm.tsx
  frontend/webpack/js/features/restaurant/components/restaurantForm.tsx
Due: none

#127 - react restaurant card
  common/transformers/RestaurantCollectionTransformer.php
  common/transformers/RestaurantTransformer.php
  frontend/controllers/RestaurantsController.php
  frontend/views/restaurants/index.php
  frontend/webpack/js/features/restaurant/components/restaurantCard.tsx
  frontend/webpack/js/features/restaurant/components/restaurantCardCollection.tsx
  frontend/webpack/js/features/restaurant/restaurant.tsx
  frontend/webpack/js/features/restaurant/translation/pl-card.ts
  frontend/webpack/js/features/restaurant/types.ts
Due: none

#127 - CSS modules dla restaurant card
  frontend/webpack/css/app.scss
  frontend/webpack/js/features/restaurant/components/restaurantCard.scss
  frontend/webpack/js/features/restaurant/components/restaurantCard.tsx
Due: none

#127 - Fix restaurant card CSS
  frontend/webpack/css/pages/_home.scss
  frontend/webpack/js/features/restaurant/components/restaurantCard.scss
Due: none

#125 Fix url do repo
  .gitlab-ci.yml
Due: docker:node

#127 - Nazwa kategorii na karcie restauracji
  frontend/views/restaurants/index.php
  frontend/webpack/js/features/restaurant/components/restaurantCard.tsx
  frontend/webpack/js/features/restaurant/restaurant.tsx
Due: none

#127 - Poprawki zgloszone przez prettier i stylelint
  frontend/webpack/css/app.scss
  frontend/webpack/css/pages/_home.scss
  frontend/webpack/js/features/restaurant/components/restaurantCard.tsx
Due: none

#125 Rozwiazanie problemow zgloszonych przez sonarcloud
  common/mail/layouts/html.php
  frontend/views/history/restaurant.php
  frontend/views/layouts/mobile.php
  frontend/views/order/takeOrder.php
Due: none

#125 Migracja transformers restauracji do biblioteki league/fractal
  common/config/main.php
  common/resources/RestaurantResource.php
  common/tests/fake/RestaurantFake.php
  common/tests/unit/resources/RestaurantResourceTest.php
  common/tests/unit/transformers/RestaurantTransformerTest.php
  common/transformers/RestaurantCollectionTransformer.php
  common/transformers/RestaurantTransformer.php
  composer.json
  composer.lock
  frontend/controllers/RestaurantsController.php
  frontend/views/restaurants/index.php
  frontend/webpack/js/features/restaurant/restaurant.tsx
Due: diff-composer-packages

#125 Migracja transformers profilu uzytkownika do biblioteki league/fractal
  common/resources/UserProfileResource.php
  common/tests/fake/UserFake.php
  common/tests/unit/resources/UserProfileResourceTest.php
  common/tests/unit/transformers/UserProfileTransformerTest.php
  common/transformers/UserProfileTransformer.php
  frontend/controllers/ProfileAjaxController.php
  frontend/controllers/ProfileController.php
  frontend/webpack/js/features/profile/index.tsx
Due: none

#125 Add minio env variables for CI env
  .env.ci
Due: none

#131 - Update yii2-secure-headers to support manifest-src directive in CSP header
  composer.json
  composer.lock
  frontend/config/main.php
Due: diff-composer-packages

#131 - Creating manifest.json file
  frontend/views/layouts/main.php
  frontend/web/image/icons/icon-128x128.png
  frontend/web/image/icons/icon-144x144.png
  frontend/web/image/icons/icon-152x152.png
  frontend/web/image/icons/icon-192x192.png
  frontend/web/image/icons/icon-384x384.png
  frontend/web/image/icons/icon-512x512.png
  frontend/web/image/icons/icon-72x72.png
  frontend/web/image/icons/icon-96x96.png
  frontend/web/manifest.json
Due: none

#131 - Install library for webpush
  composer.json
  composer.lock
Due: diff-composer-packages

#131 - Fetch yii2-secure-headers from official repository
  composer.json
  composer.lock
Due: diff-composer-packages

#131 - Add webpack externals with configuration
  .gitignore
  .gitlab-ci.yml
  Makefile
  frontend/webpack.config.js
  frontend/webpack/config-dev.js
  frontend/webpack/config-prod.js
  frontend/webpack/js/declarations/config.d.ts
Due: docker:node

#131 - Login form step1
  frontend/assets/PwaAsset.php
  frontend/controllers/PwaController.php
  frontend/views/pwa/index.php
  frontend/webpack.config.js
  frontend/webpack/js/features/pwa/index.tsx
  frontend/webpack/js/features/user/components/loginForm.tsx
  frontend/webpack/js/features/user/userService.ts
  frontend/webpack/js/pwa.js
Due: none

#131 - Add React router and implement protected route
  frontend/package.json
  frontend/webpack/js/features/core/components/protectedRouter.tsx
  frontend/webpack/js/features/core/services/authTokenService.ts
  frontend/webpack/js/features/pwa/index.tsx
  frontend/yarn.lock
Due: none

#131 - Redirect to main page if user is already logged
  frontend/package.json
  frontend/webpack/js/features/core/services/authTokenService.ts
  frontend/webpack/js/features/pwa/components/pageLogin.tsx
  frontend/webpack/js/features/pwa/hooks.ts
  frontend/webpack/js/features/pwa/index.tsx
  frontend/webpack/js/features/user/components/loginForm.tsx
  frontend/yarn.lock
Due: none

#131 - Create symbolic link without change dictionary
  .gitlab-ci.yml
  Makefile
Due: docker:node

#131 - Fetch restaurants
  common/transformers/RestaurantTransformer.php
  frontend/modules/apiV1/controllers/RestaurantsController.php
  frontend/modules/apiV1/models/Restaurant.php
  frontend/webpack/js/features/pwa/index.tsx
  frontend/webpack/js/features/restaurant/components/restaurantsFetch.tsx
  integration-tests/tests/restaurants/ssorder.postman_collection.json
Due: none

#131 - Generate url
  frontend/webpack/js/features/core/components/AppLink.tsx
  frontend/webpack/js/features/restaurant/components/restaurantCard.tsx
  frontend/webpack/js/features/utils.ts
Due: none

#131 - Restaurant food card
  frontend/webpack/js/features/restaurant/components/restaurantFoodCard.scss
  frontend/webpack/js/features/restaurant/components/restaurantFoodCard.tsx
  frontend/webpack/js/features/restaurant/types.ts
Due: none

#131 - Install symfony-ts-router npm package
  frontend/package.json
  frontend/tsconfig.json
  frontend/webpack/js/features/fos_js_routes.json
  frontend/webpack/js/features/utils.ts
  frontend/yarn.lock
Due: none

#131 - Page for restaurant menu
  frontend/webpack/js/features/core/components/AppLink.tsx
  frontend/webpack/js/features/fos_js_routes.json
  frontend/webpack/js/features/pwa/components/pageRestaurantMenu.tsx
  frontend/webpack/js/features/pwa/hooks.ts
  frontend/webpack/js/features/pwa/index.tsx
  frontend/webpack/js/features/restaurant/components/currency.tsx
  frontend/webpack/js/features/restaurant/components/restaurantFoodCard.tsx
  frontend/webpack/js/features/restaurant/components/restaurantFoodCardCollection.tsx
  frontend/webpack/js/features/restaurant/components/restaurantMenuFetch.tsx
  frontend/webpack/js/features/utils.ts
Due: none

#125 Allow for images from stats.g.doubleclick.net domain
  frontend/config/main.php
Due: none

#39 - Endpoint for create order
  common/config/main.php
  common/enums/OrderSource.php
  common/models/Order.php
  common/resources/OrderResource.php
  common/services/actions/CreateOrder.php
  common/transformers/OrderTransformer.php
  composer.json
  frontend/config/main.php
  frontend/models/Restaurants.php
  frontend/modules/apiV1/controllers/OrderController.php
  frontend/modules/apiV1/models/request/CreateOrderRequest.php
Due: none

#39 - Unit test for create order
  common/config/main.php
  common/repositories/MenuRepository.php
  common/services/actions/CreateOrder.php
  common/tests/fake/MenuFake.php
  common/tests/unit/resources/OrderResourceTest.php
  common/tests/unit/services/actions/CreateOrderTest.php
  common/tests/unit/transformers/OrderTransformerTest.php
  frontend/tests/unit/models/RestaurantsTest.php
  frontend/tests/unit/modules/apiV1/models/request/CreateOrderRequestTest.php
Due: none

#39 - Integration (postman) test
  integration-tests/entrypoint.sh
  integration-tests/tests/.order/data.csv
  integration-tests/tests/.order/ssorder.postman_collection.json
Due: none

#131 - stylelint ignore json files
  frontend/.stylelintrc.json
Due: none

Path conditions:
  diff-composer-packages: any of: composer.lock
  hadolint: any of: frontend/Dockerfile, node-cron/Dockerfile, docs/Dockerfile
  docker:node: any of: node-cron/*, .gitlab-ci.yml
