Repository stasiu20/ssorder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_pipeline, diff-composer-packages, hadolint, docker:node

Path conditions:
  api_pipeline: any of: api/*
  diff-composer-packages: any of: composer.lock
  hadolint: any of: frontend/Dockerfile, node-cron/Dockerfile, docs/Dockerfile
  docker:node: any of: node-cron/*, .gitlab-ci.yml

#252 E2E test - make order via PWA version of ssorder
  frontend/e2e/cypress/integration/pwa_spec.ts
Due: none

#296 Don't include a Webpack asset in PWA
  frontend/views/layouts/pwa.php
  frontend/webpack/js/features/pwa/index.tsx
Due: none

#56 npm: Bump ioredis and packages in frontend
  frontend/package.json
  frontend/yarn.lock
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#139 Add dir `frontend/e2e` to analyze for a dependabot
  .github/dependabot.yml
Due: none

#282 Migrate postman tests to cypress
  .gitlab-ci.yml
  frontend/e2e/cypress/config/docker.json
  frontend/e2e/cypress/config/ssorder-develop.json
  frontend/e2e/cypress/integration/api/auth_spec.ts
  frontend/e2e/cypress/integration/api/dictionary_Spec.ts
  frontend/e2e/cypress/integration/api/order_spec.ts
  frontend/e2e/cypress/integration/api/restaurant_spec.ts
  frontend/e2e/cypress/integration/api/rocketchat_Spec.ts
  frontend/e2e/cypress/support/command/api.ts
  frontend/e2e/cypress/support/commands.js
  frontend/e2e/cypress/support/index.d.ts
Due: docker:node

#282 Configure cypress for CI
  .gitlab-ci.yml
  Makefile
  frontend/e2e/cypress/integration/api/dictionary_spec.ts
  frontend/e2e/cypress/integration/api/rocketchat_spec.ts
  frontend/e2e/cypress/plugins/index.js
Due: docker:node

#314 Pipeline - Lint CSS for browser support
  .gitlab-ci.yml
  frontend/package.json
  frontend/yarn.lock
Due: docker:node

#252 - Generate high-resolution videos of cypress tests
  frontend/e2e/cypress/plugins/index.js
Due: none

#326 Cypress - Generate High-Resolution Videos and Screenshots
  .gitlab-ci.yml
  Makefile
  frontend/e2e/cypress/config/docker.json
  frontend/e2e/cypress/config/ssorder-develop.json
Due: docker:node

#56 Update packages
  api/composer.lock
  composer.lock
  node-cron/package-lock.json
  node-cron/package.json
Due: api_pipeline, diff-composer-packages, docker:node

#334 Migrate restaurant API endpoint to Symfony application
  Makefile
  api/composer.json
  api/composer.lock
  api/config/packages/doctrine.yaml
  api/config/routes/annotations.yaml
  api/config/services.yaml
  api/phpcs.xml.dist
  api/src/Api/Controller/RestaurantController.php
  api/src/Api/Resource/RestaurantResource.php
  api/src/Api/Transformer/RestaurantTransformer.php
  api/src/File/FileService.php
  api/src/Restaurant/Entity/Restaurant.php
  api/src/Restaurant/Repository/RestaurantRepository.php
  api/symfony.lock
  api/tests/Api/Resource/RestaurantResourceTest.php
  api/tests/Api/Transformer/RestaurantTransformerTest.php
  api/tests/Factory/RestaurantFactory.php
  api/tests/ObjectMother/FileServiceObjectMother.php
  api/tests/ObjectMother/RestaurantObjectMother.php
  api/tests/ObjectMother/RestaurantResourceObjectMother.php
  api/tests/ObjectMother/RestaurantTransformerObjectMother.php
  common/resources/RestaurantResource.php
  common/services/SymfonyApiClient.php
  common/tests/unit/resources/RestaurantResourceTest.php
  common/tests/unit/transformers/RestaurantTransformerTest.php
  common/transformers/RestaurantTransformer.php
  frontend/controllers/RestaurantsController.php
  frontend/modules/apiV1/controllers/RestaurantsController.php
Due: api_pipeline

#56 Fix deprecation warning in zenstruck\foundry
  api/tests/Functional/ApiEndpointWebpushTest.php
Due: none

#334 Migrate menu API endpoint to Symfony application
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/sensio_framework_extra.yaml
  api/src/Api/Controller/RestaurantController.php
  api/src/Api/Resource/MenuResource.php
  api/src/Api/Transformer/MenuTransformer.php
  api/src/Restaurant/Entity/MenuPosition.php
  api/src/Restaurant/Entity/Restaurant.php
  api/src/Restaurant/Repository/MenuRepository.php
  api/symfony.lock
  api/tests/Api/Transformer/MenuTransformerTest.php
  api/tests/ObjectMother/MenuPositionObjectMother.php
  common/services/SymfonyApiClient.php
  frontend/modules/apiV1/controllers/RestaurantsController.php
Due: api_pipeline

#56 Update packages
  Makefile
  api/composer.lock
  composer.lock
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
  node-cron/package-lock.json
  node-cron/package.json
Due: api_pipeline, diff-composer-packages, docker:node

#334 Migrate restaurant categories API endpoint to Symfony application
  api/src/Api/Controller/DictionaryController.php
  api/src/Api/Resource/RestaurantCategoryResource.php
  api/src/Api/Transformer/RestaurantCategoryTransformer.php
  api/src/Restaurant/Entity/Category.php
  api/src/Restaurant/Repository/CategoryRepository.php
  api/tests/Api/Transformer/RestaurantCategoryTransformerTest.php
  api/tests/Functional/ApiEndpointWebpushTest.php
  api/tests/ObjectMother/RestaurantCategoryObjectMother.php
  common/resources/DictResource.php
  common/services/SymfonyApiClient.php
  common/tests/unit/resources/DictResourceTest.php
  frontend/modules/apiV1/controllers/DictController.php
  frontend/modules/apiV1/controllers/RestaurantsController.php
Due: none

#252 Cache npm and cypress packages
  .gitlab-ci.yml
Due: docker:node

#52 Gitlab-CI - cache composer files
  .gitlab-ci.yml
  api/.gitlab-ci.yml
Due: api_pipeline, docker:node

#56 Update packages in /api
  api/composer.lock
  api/symfony.lock
Due: api_pipeline

#56 Update Symfony to 5.3 in /api
  api/.env.test
  api/.gitignore
  api/bin/console
  api/bin/phpunit
  api/composer.json
  api/composer.lock
  api/config/packages/dev/zenstruck_foundry.yaml
  api/config/packages/doctrine_migrations.yaml
  api/config/packages/framework.yaml
  api/config/packages/prod/monolog.yaml
  api/config/packages/routing.yaml
  api/config/packages/security.yaml
  api/config/packages/test/doctrine.yaml
  api/config/packages/test/zenstruck_foundry.yaml
  api/config/packages/twig.yaml
  api/config/routes/framework.yaml
  api/config/services.yaml
  api/phpunit.xml.dist
  api/public/index.php
  api/src/Kernel.php
  api/symfony.lock
  api/templates/base.html.twig
  api/tests/Functional/ApiEndpointWebpushTest.php
Due: api_pipeline

#56 Update PHP packages
  composer.lock
Due: diff-composer-packages

#56 Update packages in /api
  api/composer.json
  api/composer.lock
Due: api_pipeline

#52 Fix build
  api/.gitlab-ci.yml
Due: api_pipeline

#56 Update npm packages (frontend, node-cron)
  frontend/yarn.lock
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#539 Run phpstan in jakzal/phpqa:alpine container with additional rules
  api/.gitlab-ci.yml
  api/phpstan.neon
  api/src/Api/Controller/RestaurantController.php
  api/src/Command/SendPushMsgCommand.php
  api/src/Entity/User.php
  api/src/Kernel.php
  api/src/Restaurant/Entity/Restaurant.php
  api/src/Service/UserSubscriptionManager.php
  api/src/Webpush/Exception/UnexpectedTypeException.php
Due: api_pipeline

#539 Remove phpstan from composer.json
  .gitlab-ci.yml
  Makefile
  api/composer.json
  api/composer.lock
  api/phpstan.neon
  api/symfony.lock
  composer.json
  composer.lock
  phpstan.neon
Due: api_pipeline, diff-composer-packages, docker:node

#580 Integration with Sentry
  api/.env
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/prod/sentry.yaml
  api/src/Command/SendPushMsgCommand.php
  api/symfony.lock
Due: api_pipeline

#587 Add phpmetrics job to pipeline
  api/.gitlab-ci.yml
Due: api_pipeline

#141 phpunit generate junit report
  api/.gitlab-ci.yml
  api/composer.json
Due: api_pipeline

#56 Update api packages
  api/composer.json
  api/composer.lock
Due: api_pipeline

#587 Add link to phpmetrics
  docs/index.html
Due: none

#252 Move files in after_script
  .gitlab-ci.yml
Due: docker:node

#125 Docker image php:7.3-apache has already had libicu and libgmp
  frontend/Dockerfile
Due: hadolint

#597 JMeter performance test
  Makefile
  docs/.gitignore
  performance-tests/example.properties
  performance-tests/performance.jmx
Due: none

#56 Update composer packages in /api
  api/composer.lock
Due: api_pipeline

#56 Update composer packages (yii2)
  composer.lock
Due: diff-composer-packages

#56 Update npm packages in e2e
  Makefile
  frontend/e2e/package-lock.json
  frontend/e2e/package.json
Due: none

#56 Update npm packages in node-cron
  node-cron/package-lock.json
  node-cron/package.json
Due: docker:node

#252 Wait for request finish preventing tests failures
  Makefile
  frontend/e2e/cypress/integration/pwa_spec.ts
Due: none

#125 Check composer.* via composer-normalize
  .gitlab-ci.yml
  LICENSE.md
  composer.json
  composer.lock
Due: diff-composer-packages, docker:node
